body{
	background-color: #F5F7FF;
	color: #57719C;
}

.header-text{
	margin: 50px auto;
	margin-bottom: 30px;
}

.header-text p{
	margin-top: 30px;
}

.width{
	width: 350px;
	margin: 0 auto;
}

.facebook-group-img{
	width: 64px;
	height: 64px;
	border-radius: 50%;
	overflow: hidden;
}

.facebook-group-img img{
	display: block;
}

.facebook-group{
	background-color: #fff;
	padding: 12px;
	border-radius: 8px;
	margin-bottom: 30px;
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.facebook-group-text{
	margin-top: 5px;
}

.facebook-group-text h1{
	font-size: 16px;
	font-weight: 600;
}

.facebook-group-text p{
	font-size: 14px;
	font-weight: 400;
}

.facebook-groups-holder button{
	background: linear-gradient(89.57deg, #0B64D9 0.38%, #2AD3BF 99.62%);
	box-shadow: 0px 0px 40px rgba(0, 92, 209, 0.1);
	border-radius: 4px;
}

.facebook-groups-holder button a{
	color: #fff;
	text-decoration: none;
}